body {
  background-color: #202124;
  font-family: arial, sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#primary-flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#bottom-navigation-bar {
  background-color: #171717;
}

/************
HEADER STYLES
 ***********/

#top-navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.top-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
}

.top-nav-item {
  color: white;
  font-size: 0.8rem;
}

.top-nav-item:hover {
  color: white;
  text-decoration: underline;
}

.apps-login-container {
  display: flex;
  align-items: center;
}

.app-svg {
  height: 30px;
  filter: invert(89%) sepia(0%) saturate(19%) hue-rotate(294deg) brightness(93%) contrast(95%);
  padding-right: 10px;
}

.login-btn {
  height: 30px;
  cursor: pointer;
  padding: 7px;
  border-radius: 3px;
  border: solid #5F6368 1px;
  background-color: #5F6368;
  color: white;
  font-size: 0.8rem;
}

.login-btn:hover {
  border: solid 1px lightgray;
}

/************
LOGO STYLES
 ***********/

.logo-container {
  max-height: 150px;
  width: 286px;
  margin: 50px auto auto;
}

.google-logo {
  display: block;
  margin: auto;
  width: 70%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

/************
Search Bar
************/

.search-container {
  margin-top: 25px;
}

.search-bar {
  display: block;
  margin: auto auto 25px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  max-width: 584px;
  height: 40px;
  border: solid gray 1px;
  border-radius: 30px;
  background-color: #202124;

}

.search-bar:focus {
  background-color: #303134;
}

.search-btn-container {
  display: flex;
  justify-content: center;
}

.search-btn {
  margin-right: 10px;
}

.spacer {
  flex-grow: 1;
}
