body {
  background-color: #202124;
  font-family: arial, sans-serif;
}

#primary-flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#bottom-navigation-bar {
  background-color: #171717;
}

/************
HEADER STYLES
 ***********/

#top-navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 9px;
}

.top-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
}

.top-nav-item {
  color: white;
}

.top-nav-item:hover {
  color: white;
  text-decoration: underline;
}

.apps-login-container {
  display: flex;
  align-items: center;
}

.app-svg {
  height: 40px;
  filter: invert(89%) sepia(0%) saturate(19%) hue-rotate(294deg) brightness(93%) contrast(95%);
}

.login-btn {
  height: 30px;
}

/************
LOGO STYLES
 ***********/

.google-logo {
  display: block;
  margin: 40px auto 25px auto;
  width: 70%;
}

/************
Search Bar
************/

.search-bar {
  display: block;
  margin: auto auto 25px;
  width: 80%;
  height: 40px;
  border-radius: 30px;
}

.search-btn-container {
  display: flex;
  justify-content: center;
}

.search-btn {
  margin-right: 10px;
}

.spacer {
  flex-grow: 1;
}
